build-WordMap-V_Play_Desktop_Qt_5_11_1_GCC-Debug/
build-WordMap-Android_for_armeabi_v7a_GCC_4_9_Qt_5_11_1_Android_armv7_V_Play-Debug/android-build/
WordMap/WordMap.pro.user
WordMap/WordMap.pro.user.91c0bf7
WordMap/WordMap.pro.user
WordMap/WordMap.pro.user
*.Debug
